export VITE_OIDC_AUTHORITY={{ vite_oidc_authority | default('http://example.com') }}
export VITE_OIDC_CLIENT_ID={{ vite_oidc_client_id | default('enduro-dashboard') }}
export VITE_OIDC_REDIRECT_URI={{ vite_oidc_redirect_uri | default('http://example.com/callback') }}
export VITE_OIDC_AUDIENCE_CLIENT_ID={{ vite_oidc_audience_client_id | default('enduro') }}
