verbosity = "{{ enduro_debug_verbosity }}"
debug = "{{  enduro_debug_enabled }}"
debugListen = "{{ enduro_listen_debug_address }}"
useArchivematica = "true"

[temporal]
namespace = "{{ enduro_temporal_namespace }}"
address = "{{ enduro_listen_temporal_address }}"
taskQueue = "global"

[api]
listen = "{{ enduro_listen_api_address }}"
debug = "{{ enduro_api_debug_enabled }}"

[api.auth]
enabled = false

[event]
redisAddress = "redis://127.0.0.1:6379"
redisChannel = "enduro-events"


[database]
dsn = "{{ enduro_db_user }}:{{ enduro_db_pass }}@tcp({{ enduro_db_host }}:{{ enduro_db_port | int }})/{{ enduro_db_name }}"
driver = "mysql"
migrate = "true"

[storage]
enduroAddress = "enduro-internal:9000"

[storage.database]
dsn = "{{ enduro_storage_db_user }}:{{ enduro_storage_db_pass }}@tcp({{ enduro_storage_db_host }}:{{ enduro_storage_db_port | int }})/{{ enduro_storage_db_name }}"
driver = "mysql"
migrate = true


######## Minio watched folders ######

{% if enduro_minio_pipelines|length > 0 %}
{% for pipeline in enduro_minio_pipelines %}

[storage.internal]
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = true
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "aips"

[failedtransfers]
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = true
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "failed-transfers"

[failedsips]
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = true
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "failed-sips"

[upload]
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = true
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "sips"

[watcher.embedded]
name = "{{ pipeline.watched_name }}"
redisAddress = "{{ pipeline.watched_redisAddress }}"
redisList = "{{ pipeline.watched_redisList }}"
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = "{{ pipeline.watched_pathStyle }}"
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "{{ pipeline.watched_bucket }}"
pipeline = "{{ pipeline.name }}"
## retentionPeriod = "{{ pipeline.watched_retentionPeriod }}"
stripTopLevelDir = "{{ pipeline.watched_stripTopLevelDir }}"
##rejectDuplicates = "{{ pipeline.watched_rejectDuplicates | default('false') }}"

[am]
name = "{{ pipeline.name }}"
address = "{{ pipeline.baseURL }}"
user = "{{ pipeline.user }}"
apiKey = "{{ pipeline.key }}"
#### transferDir = "{{ pipeline.transfer_dir }}"
processingConfig = "{{ pipeline.processing_config }}"
{% if pipeline.transferLocationID is defined %}
transferLocationID = "{{ pipeline.transferLocationID }}"
{% endif %}
retryDeadline = "{{ pipeline.retryDeadline }}"
pollInterval = "{{ pipeline.pollInterval | default ('10s')}}"
transferDeadline = "{{ pipeline.transferDeadline }}"

[am.sftp]
host = "{{ archivematica_fqdn_host }}"
user = "archivematica"
knownHostsFile = "/var/lib/enduro/.ssh/known_hosts"
remoteDir = "{{ pipeline.transfer_dir }}"

{% endfor %}
{% endif %}


[preservation]
taskqueue = "am"

