{% if enduro_pipelines|length > 0 %}
{% set pipeline = enduro_pipelines[0] %}

debug = true
verbosity = 2
sharedPath = "/var/lib/enduro/preprocessing"

[temporal]
address = "127.0.0.1:7233"
namespace = "default"
taskQueue = "preprocessing"
workflowName = "preprocessing"

[worker]
maxConcurrentSessions = 1

[bagit]
checksumAlgorithm = "md5"

[ais]
listen = "127.0.0.1:9035"
workingDir = "/tmp"

[ais.temporal]
address = "127.0.0.1:7233"
namespace = "default"
taskQueue = "ais"
workflowName = "ais"

[ais.worker]
maxConcurrentSessions = 1

[ais.amss]
url = "{{ pipeline.storageServiceURL }}"
user = "{{ pipeline.storageServiceUser }}"
key = "{{ pipeline.storageServiceKey }}"

[ais.bucket]
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = true
accessKey = "{{ pipeline.watched_key }}"
secretKey = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "ais"

{% endif %}
